---
import { SITE } from '@/lib/seo';
---
<footer>
  <div class="ft-in">
    <span class="ft-copy">© {SITE.foundedYear}–{SITE.currentYear} {SITE.name} · Powered by {SITE.author}</span>
    <span class="ft-upd">Last updated: {SITE.lastUpdated}</span>
  </div>
</footer>
